---
layout: default
---

<head><script>// The function actually applying the offset
function offsetAnchor() {
  if (location.hash.length !== 0) {
    window.scrollTo(window.scrollX, window.scrollY - 100);
  }
}

// Captures click events of all <a> elements with href starting with #
$(document).on('click', 'a[href^="#"]', function(event) {
  // Click events are captured before hashchanges. Timeout
  // causes offsetAnchor to be called after the page jump.
  window.setTimeout(function() {
    offsetAnchor();
  }, 0);
});

// Set the offset when entering page with hash present in the url
window.setTimeout(offsetAnchor, 0);
</script></head>

<h1>{{ page.title }}</h1>
<p>
  {{ page.date | date: "%B %e, %Y" }}
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
</p>

<br>
<div  class = "postImage">
<img src = "{{ page.postImage }}" alt = "{{page.name}}">
<span class = "caption" >{{ page.imgCaption }}</span>
</div>

<br>
{{ content }}
